*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.div1{
    width: 100%;
    height: 104px;
   background-color:#171d25;
   position: fixed;
}

.page_background_holder{
    background-color: rgb(36, 58, 79);
    width: 2546px;
    height: 7944px;
}

.div2{
    width: 40%;
    height: 100%;
    margin-left: 29%;
   padding-top: 27px;
}

.div3{
    color:white;
    display: inline-block;
    position: relative;
    top: -16px;
    left: 40px;
}
.div3 a{
    margin-left: 0px;
}
.div3 a:hover{
color:white;
}

.div4{
    display: inline-block;
    position: relative;
    left: 60px;
    top: -50px;
}

.div5{
    background-color:#6c9018;
    position: relative;
    top: 8px;
    height: 20px;
}
.div5:hover{
    background-color:#7ba716; 
}
.div5 a{
   font-size: 15px; 
}

.div6{
    background-color:#dcdedf ;
    color:#dcdedf ;
    font-size: 10px;
    display: inline-block;
    position: absolute;
    left: 195px;
    top: 14px;

}

.div7{
    position: relative;
    top: -10px;
    left: 205px;
}
button{
    background-color:#2a3543;
    color:#b8b6b4;
} 
button:hover{
    color: whitesmoke;
}

.home_page_gutter_block{
    width: 210px;
    height: 484px;
    position: absolute;
    top:365px;
    left: 500px;
    right: 500px;
    bottom: 500px;
}
.home_page_gutter_block_top{
    width: 210px;
    height: 90px;
}
.home_page_gutter_block_top a:hover{
    color:rgb(214, 214, 214);
}
.promo_text{
    width: 143px;
    height: 17px;
    position: relative;
    top: 25px;
}
.promo_text a:hover{
    color:rgb(214, 214, 214);
}
.giftCardsLink1{
    font-size: 14px;
    color: #78abd4;
    font-weight: bold;
    font-family: Verdana;
    position: relative;
    top: -23px;
}
.giftCardsLink2{
    font-size: 12px;
    color: #a4b3c4;
    font-family: Verdana;
}

.home_gutter_recentlyviewed{
    width: 178px;
    height: 87px;
    position: relative;
    top: 65px;
}
.gutter_header_pad{
    color: #536f86;
    width: 178px;
    height: 32px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    top: 4px;
}
.gutter_item_ds_no_flags_app_impression_tracked{
    width: 164px;
    height: 16px;
    position: relative;
    top: 10px;
}
.gutter_item_ds_no_flags_app_impression_tracked a:hover{
    color:rgb(173, 173, 173);
}
.viewedGameLink{
    color: #7a8b9d;
    font-size: 12px;
    font-family: sans-serif;
}

.gutter_header{
    color: #536f86;
    width: 210px;
    height: 16px;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    position: relative;
    top: 65px;
}
.gutter_items{
    width: 210px;
    height: 60px;
    position: relative;
    top: 5px;
}
.gutter_items a{
    color: #7A8B9D;
    font-size: 12px;
    font-family: sans-serif;
    display: block;
    margin-top: 5px;
}
.gutter_items a:hover{
    color:rgb(173, 173, 173);
}


.gutter_header_pad2{
    color: #536f86;
    width: 210px;
    height: 16px;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    top: 152px;
}
.gutter_header_pad2 a{
    color: #7a8b9d;
    font-size: 12px;
    font-family: sans-serif;
    display: block;
}
.gutter_items2{
    position: relative;
    top: 5px;
}
.gutter_items2 a{
    margin-top: 5px;
}
.gutter_items2 a:hover{
    color:rgb(173, 173, 173);
}
.home_page_gutter_block2{
    width: 210px;
    height: 237px;
    position: absolute;
    top:906px;
    left: 500px;
}
.home_page_gutter_block2 a{
color: #7a8b9d;
font-size: 12px;
font-family: sans-serif;
display: block;
margin-top: 5px;
}
.home_page_gutter_block2 a:hover{
    color: rgb(173, 173, 173);
}
.gutter_header_pad3{
    color: #536f86;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}

.storeDropdown{
   background-color:rgb(85, 85, 85);
   width: 140px;
   position: absolute;
   left:952px;
   top: 70px;
   display: none;
   text-indent: 10px;
}
.storeDropdown a{
display: block;
margin-top: 10px;
font-size: 15px;
}

.communityDropdown{
    background-color:rgb(85, 85, 85);
    width: 150px;
    position: absolute;
    left: 1050px;
    top: 70px;
    display: none;
    text-indent: 10px;
    
}
.communityDropdown a{
    display: block;
    margin-top: 10px;
    font-size: 15px;
}

.languageDropdown{
    background-color:rgb(85, 85, 85) ;
    width: 305px;
    position: absolute;
    left: 1445px;
    top: 25px;
    display: none;
    text-indent: 10px;
    
}
.languageDropdown a{
    display: block;
    margin-top: 10px;
    font-size: 15px;
}

a{
    font-size: 25px;
    color: #dcdedf;
    text-decoration: none;
    margin-right: 10px;
}

.mainPageLink{
    color:#dcdedf ;
    letter-spacing: 0.1em;
    font-weight: 600;
    display: inline-block;
    position: relative;
    left: 8px;
    top: -18px;
}

.loginLink{
    color: #b8b6b4;
    position: absolute;
    left: 150px;
    font-size: 15px;
    top: 10px;
}

.loginLink:hover{
    color: whitesmoke;
}

.circleSteamImage{
    width: 55px;
    height: px;
    position: relative;
    left: 8px;
}

.handImage{
    width: 15px ;
    height: 15px;
    position: relative;
    top: 2px;
}

.triangleImage{
    width: 10px;
    height: 10px;
    position: relative;
    top: 0px;
    left: -4px;
    transform: rotate(103deg);
}

.giftCardsImage{
    width: 110px;
    transform: rotate(15deg);
    position: relative;
    top: -20px;

}













